<nav class="navbar navbar-expand-md navbar-dark bg-black fixed-top">
  <a class="navbar-brand" href="#">Angular</a>
  <button class="navbar-toggler hidden-sm-up" type="button" (click)="toggleState()" data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div [ngbCollapse]="isCollapsed" class="collapse navbar-collapse" id="navbarsDefault">
    <ul class="navbar-nav mr-auto">
      <li><a class = "navbar-option" routerLink="/products">Products</a></li>
      <li><a class = "navbar-option" routerLink="/cart">Cart</a></li>
    </ul>
  </div>
</nav>

