<div class="container bg"> 
  <div class="text-center"> 
    <ul class="pagination justify-content-center">
      <li>
        <a aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li *ngFor= "let page of getPages()" [ngClass]="{active:currentPage === page}"><a (click)="goToPage(page)">{{page}}</a></li>
      <li>
        <a aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
    <div class = "row">
      <details-upload *ngFor="let product of products.content" [productTemplate]="product"></details-upload>
    </div>
  </div>
</div>